footer {
  width: 100vw;
  background-color: var(--very-light-gray);
  position: relative;
  z-index: 10;
  left: -10rem;
  padding: 4rem 10rem;
}

ul {
  list-style: none;
}

.bg-pattern {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

footer .social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-medias ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

svg:hover path {
  fill: var(--dark-violet);
}

.underline {
  margin-top: 28px;
  margin-bottom: 40px;
  width: 100%;
  border-top: 1px solid var(--dark-grayish-violet);
}

footer .info a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--very-dark-violet);
  font-weight: 700;
}

footer .info a:hover {
  border-bottom-color: var(--very-dark-violet);
}

footer .info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .info .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .info .container h4 {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
}

footer .info .container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
