<header>
  <a href="/">
    <img src="/assets/logo.svg" alt="Insure Logo" />
  </a>

  <input type="checkbox" id="toggle-menu" (change)="toggleTypeButton()" />

  <nav>
    <ul>
      <li>
        <a href="#">How we work</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <button>View plans</button>
      </li>
    </ul>
  </nav>

  <label for="toggle-menu">
    <img
      *ngIf="showCloseButtonMenu; else menuHamburguer"
      src="/assets/icon-close.svg"
    />

    <ng-template #menuHamburguer>
      <img src="/assets/icon-hamburger.svg" />
    </ng-template>
  </label>
</header>
