header {
  padding: 1.75rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.75rem;
}

li {
  text-transform: uppercase;
}

li a {
  color: var(--dark-grayish-violet);
  font-weight: 700;
  text-decoration: none;
}

li a:hover {
  color: var(--very-dark-violet);
}
