section {
  position: relative;
  width: 100%;
  background-color: var(--dark-violet);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.3125rem 5rem;
  margin-bottom: 10rem;
}

h3 {
  font-size: 3.5rem;
  width: 50%;
  color: #fff;
  line-height: 3.5rem;
}

img {
  position: absolute;
  top: 0;
  right: 0;
}

img.pattern-mobile {
  display: none;
}

@media (max-width: 1366px) {
  h3 {
    width: 60%;
  }
}

@media (max-width: 425px) {
  section {
    flex-direction: column;
    padding: 4rem 2.5rem;
    gap: 2.5rem;
  }

  h3 {
    position: relative;
    z-index: 10;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }

  img.pattern-desktop {
    display: none;
  }

  img.pattern-mobile {
    display: block;
  }
}
