* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body {
  width: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  padding: 0 10rem;
  overflow-x: hidden;
}

h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

:root {
  --dark-violet: #2d2640;
  --grayish-blue: #95a9c6;
  --very-dark-violet: #2b272f;
  --dark-grayish-violet: #837d87;
  --very-light-gray: #fafafa;
}

@media (max-width: 425px) {
  body {
    padding: 0 1.5rem;
  }
}
